<h2>Note Name: <%=@note.name%></h2><br>

<form action="/notes/<%=@note.id%>/edit" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

    <label>Note information:</label><br>
    <%=@note.name%><br>
    <br>
    
    <h4>Note details:</h4>
    <%if !@note.notes.empty?%>
        <%=@note.name%><br>
        <%=@note.notes%><br>
        </li>
        <br>
      <%else%>
      <p>There are no notes at this moment.<p>
      <%end%>
      <h4>To edit this note:</h4>
      <input type="text" name="note_name" id="note_name" value="Title"></input><br>
      <textarea name="notes" id="notes" placeholder="<%=@note.notes%>" onkeyup="document.getElementById('prevCom').innerHTML = this.value"></textarea>
<div id="prevCom"></div>​
    <input type="submit" value="Edit Note">
  </form>
  
