
<h1>Update Doctor</h1>
 
<h2>Edits for <%= @doctor.name %></h2>
 
  <form action="/user/:id" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit User's Name:</label><br>
    <input type="text" name="user[name]" value="<%= @user.name %>"><br>
    <label>Edit User's Username:</label><br>
    <input type="text" name="user[username]" value="<%= @user.username %>"><br>
    <label>Edit User's Email:</label><br>
    <input type="text" name="user[email]" value="<%= @user.email %>"><br>
    <label>Edit User's Password:</label><br>
    <input type="text" name="user[password]" value="<%= @user.password %>"><br>    
    <input type="submit" value="Update User">
  </form>