<h1>User: <%=@user.name%></h1><br>
<h4>Username: <%=@user.username%></h4><br>
<h4>Email: <%=@user.email%></h4><br>
<h4>Notes:</h4><br>
<ul>
  <% if !@user.notes.empty?%>
    <%@user.notes.each do |note|%>
    <li><h4>Note Name: </h4><%=note.name%><br>
        <h4>Note Content: </h4> <%=note.notes%><br>
        <br>
        </li>

      <%end%>
    <%else%>
    <%="You currently have no notes."%>
    <%end%>
    
</ul>
<br>
<p> To see all notes go to <a href='/notes'> Notes</a>.</p> 
<p> To go to your view page go to: <a href='/user/:id'>User Page</a>.</p>
<p>To edit your account information or password go to: <a href='/user/<%=@user.id%>/edit'>Edit User</a>.</p>
<p>To create a note go to: <a href='/notes/new'>Create Note</a>.</p>
<p>To logout go to <a href='/user/logout'>Log Out</a>.</p>